@font-face {
  font-family: 'Spoqa Han Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./Spoqa Han Sans Regular.woff2'),
    url('./Spoqa Han Sans Regular.woff') format('woff');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./Spoqa Han Sans Light.woff2'),
    url('./Spoqa Han Sans Light.woff') format('woff');
}

/* @font-face {
  font-family: 'Spoqa Han Sans';
  font-style: normal;
  font-weight: 100;
  src: url('./Spoqa Han Sans Thin.woff2'),
    url('./Spoqa Han Sans Thin.woff') format('woff');
} */